/* src/assets/styles/main.css */
body {
  background-color: white; /* Set the background color */
  font-family: 'Roboto', sans-serif; /* Set Roboto as the default font */
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}


.error {
  color: #ff3f80;
  font-size: 14px;
}